# Dependencies
node_modules/
dist/
build/

# Environment Variables
.env
.env.local
.env.*.local

# IDE Files
.vscode/
.idea/

# Log Files
npm-debug.log*
yarn-debug.log*
yarn-error.log*
build_err.txt

# OS Files
.DS_Store
Thumbs.db
